<!DOCTYPE html>
<html lang="en">
  <head>
    <style type="text/css">
      body {
        background-color: #fff;
      }
    </style>
    <meta charset="UTF-8" />
    <title>{{ title }}</title>
    <link rel="stylesheet" {% load static %} href="{% static 'css/base.css' %}"
    >
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div class="container mt-5 pt-4">
      <!--  NAV MENU  -->

      <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" style="width: 100%">
        <div class="container" style="text-allign: center">
          <a class="navbar-brand" data-test="logo" href="/">{{ title }} </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarCollapse"
            aria-controls="navbarCollapse"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
              {% for dep, departure in departures.items %}
              <li class="nav-item mx-1" style="display: inline-block">
                <a class="nav-link" href="/departure/{{ dep }}"
                   {% if request.path == dep %} class="nav-link active"{% endif %}
                   style="text-decoration: none"
                   data-test="navlink">{{ departure }}
                </a>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </nav>

      <!-- TEMPLATES -->

      {% block container %} {% endblock %}

      <footer>
        <p></p>
      </footer>

      <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script
      src="/static/js/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script>
      window.jQuery ||
        document.write('<script src="/static/js/jquery-3.3.1.slim.min.js"><\/script>');
    </script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    </div>
  </body>
</html>
